<style>
  p {
    font-size: {{this.screenFontSize}}
  }
</style>

<ConfettiBox @colorVariation={{this.colorVariation}} @numberOfConfetti={{350}} />

<div class="container">
  <h1>Senior Front-end Engineer</h1>
  <div class="content">
    <p>{{this.screenText}}</p>
  </div>
</div>
